Welcome to Chitter. Please enter a user name, email and password to sign up:
<form action="/cheeters/new" method="post">
	Your real name: <input type="text" name="name">
	Your user name: <input type="text" name="username">
	Email: <input type="text" name="email">
	Password: <input type="password" name="password">
	<input type="submit" value="Sign up">
</form>